ion-view(
  view-title="Nuevo proveedor"
)
  ion-content
    .new-provider-view
      .row
        form.form-container(name="newProviderForm" ng-submit='providerVm.createProvider()', novalidate='')
          .list
            span.input-label (*) Campo requerido.
            br
            label.item.item-input.item-stacked-label
              span.input-label *RUC
              input(
                type='text',
                name='ruc',
                ng-model='providerVm.providerForm.ruc',
              )
              show-error(array-messages='providerVm.messages.ruc')

            label.item.item-input.item-stacked-label
              span.input-label *Razón social
              input(
                type='text',
                placeholder='',
                name='razon_social',
                ng-model='providerVm.providerForm.razon_social'
              )
              show-error(array-messages='providerVm.messages.razon_social')

            label.item.item-input.item-stacked-label
              span.input-label *Actividad económica
              input(
                type='text',
                placeholder='',
                name='actividad_economica',
                ng-model='providerVm.providerForm.actividad_economica'
              )
              show-error(array-messages='providerVm.messages.actividad_economica')

            label.item.item-input.item-stacked-label
              span.input-label Tipo de contribuyente
              input(
                type='text',
                placeholder='',
                name='tipo_contribuyente',
                ng-model='providerVm.providerForm.tipo_contribuyente'
              )
            label.item.item-input.item-stacked-label
              span.input-label Representante legal
              input(
                type='text',
                placeholder='',
                name='representante_legal',
                ng-model='providerVm.providerForm.representante_legal'
              )
            label.item.item-input.item-stacked-label
              span.input-label *Teléfono
              input(
                type='text',
                placeholder='',
                name='telefono',
                ng-model='providerVm.providerForm.telefono'
              )
              show-error(array-messages='providerVm.messages.telefono')

            label.item.item-input.item-stacked-label
              span.input-label *Email
              input(
                type='email',
                placeholder='',
                name='email',
                ng-model='providerVm.providerForm.email'
              )
              show-error(array-messages='providerVm.messages.email')

            label.item.item-input.item-stacked-label
              span.input-label Fecha de inicio de actividades
              input(
                type='text',
                placeholder='',
                name='fecha_inicio_actividad',
                ng-model='providerVm.providerForm.fecha_inicio_actividad'
              )
            label.item.item-input.item-stacked-label
              span.input-label *Nombre de su banco
              input(
                type='text',
                placeholder='',
                name='banco_nombre',
                ng-model='providerVm.providerForm.banco_nombre'
              )
              show-error(array-messages='providerVm.messages.banco_nombre')

            label.item.item-input.item-stacked-label
              span.input-label *Número de cuenta
              input(
                type='text',
                placeholder='',
                name='banco_numero_cuenta',
                ng-model='providerVm.providerForm.banco_numero_cuenta'
              )
              show-error(array-messages='providerVm.messages.banco_numero_cuenta')

            label.item.item-input.item-stacked-label
              span.input-label *Identificación de su banco
              input(
                type='text',
                placeholder='',
                name='banco_identificacion',
                ng-model='providerVm.providerForm.banco_identificacion'
              )
              show-error(array-messages='providerVm.messages.banco_identificacion')

            label.item.item-input.item-stacked-label
              span.input-label Página web
              input(
                type='text',
                placeholder='',
                name='website',
                ng-model='providerVm.providerForm.website'
              )
            label.item.item-input.item-stacked-label
              span.input-label Facebook
              input(
                type='text',
                placeholder='',
                name='facebook_handle',
                ng-model='providerVm.providerForm.facebook_handle'
              )
            label.item.item-input.item-stacked-label
              span.input-label Twitter
              input(
                type='text',
                placeholder='',
                name='twitter_handle',
                ng-model='providerVm.providerForm.twitter_handle'
              )
            label.item.item-input.item-stacked-label
              span.input-label Instagram
              input(
                type='text',
                placeholder='',
                name='instagram_handle',
                ng-model='providerVm.providerForm.instagram_handle'
              )
            label.item.item-input.item-stacked-label
              span.input-label Youtube
              input(
                type='text',
                placeholder='',
                name='youtube_handle',
                ng-model='providerVm.providerForm.youtube_handle'
              )
            label.item.item-input.item-stacked-label
              span.input-label Mejor artículo
              input(
                type='text',
                placeholder='',
                name='mejor_articulo',
                ng-model='providerVm.providerForm.mejor_articulo'
              )
            label.item.item-input.item-select
              span.input-label Forma de pago
              ion-list
                ion-checkbox(
                  ng-repeat="method in providerVm.methodsPayment",
                  ng-checked="providerVm.selections.indexOf(method.value) != -1"
                  ng-click="providerVm.toggleCheck(method)"
                ) {{ method.label }}

          .button-actions
            input(
              type='submit',
              value="Crear proveedor",
              ng-class='{disabled: newProviderForm.$invalid}'
            ).button.button-primary.button-block
