ion-view(
  view-title='{{::("item.items"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.item-index-page
    .row
      label.item.search-input
        i.icon.ion-search.placeholder-icon
        input(
          ng-model="itemsVm.query"
          type="text"
          placeholder='{{::("item.itemSearch"|translate)}}'
        )

    .row.cta-wrapper
      .list.list--centered
        button.button.button-outline.button-energized(
          ng-click="itemsVm.launchModal()"
        ) {{::("globals.new"|translate)}} {{::("item.item"|translate)}}

    .list.list-inset
      .row.table-headers
        .col.col-50 {{::("item.productName"|translate)}}
        .col.col-25 {{::("item.quantity"|translate)}}
        .col.col-25 {{::("item.price"|translate)}}

    .col.without-items(ng-if="!itemsVm.items.length")
      p {{::("item.titleWithoutItems"|translate)}}
      p {{::("item.subtitleWithoutItems"|translate)}}
    .row.list-content(
      ng-repeat="item in itemsVm.items | filter:itemsVm.query"
      ng-init="idx = $index"
    )
      .col.col-50.list-item {{ item.titulo }}
      .col.col-20.list-item
        span(ng-if="item.unidad_medida=='unidades'") X{{ item.volumen }}
      .col.col-20.list-item ${{ item.precio_cents/100 }}
      a.col.action(
        ng-click="itemsVm.showEditModal(idx)"
      ) {{::("globals.edit"|translate)}}
