ion-modal-view.item-form
  ion-header-bar.bar-stable.bar.bar-header
    .title.alt-logo
    
    .ion-nav-buttons.buttons(side="primary")
      button.button.button-clear.button-positive(
        ng-click="providerItemVm.closeModal()"
      ) {{::('globals.cancel'|translate)}}
    

  form(
    name='providerItemVm.itemForm'
    ng-submit='providerItemVm.submitProcess(providerItemVm.item.id)'
    novalidate
  )
    ion-content.resource-form
      .list.list-inset
        legend {{::("item.formLegend"|translate)}}

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': providerItemVm.itemForm.titulo.$touched && providerItemVm.itemForm.titulo.$invalid}"
        )
          span.input-label {{::("item.titulo"|translate)}}
          input(
            name='titulo'
            type='text'
            ng-model='providerItemVm.item.titulo'
            ng-class='input-error'
            required
          )
        .errors-wrapper    
          .show-errors(ng-messages="providerItemVm.itemForm.titulo.$error" ng-if="providerItemVm.itemForm.titulo.$touched")
            span(ng-message="required" class="message-error") {{::("globals.isRequired"|translate)}}
          show-error(array-messages='providerItemVm.messages.titulo')

        label.item.item-input.item-stacked-label
          span.input-label {{::("item.descripcion"|translate)}}
          input(
            type='text'
            ng-model='providerItemVm.item.descripcion'
          )
        show-error(array-messages='providerItemVm.messages.descripcion')

        label.item.item-input.item-stacked-label
          span.input-label {{::("item.observaciones"|translate)}}
          input(
            type='text'
            ng-model='providerItemVm.item.observaciones'
          )
        show-error(array-messages='providerItemVm.messages.observaciones')

        label.item.item-input.item-select(
          ng-class="{'item-error': providerItemVm.itemForm.unidad_medida.$touched && providerItemVm.itemForm.unidad_medida.$invalid}"
        )
          span.input-label {{::("item.unidadMedida"|translate)}}
          select(ng-model='providerItemVm.item.unidad_medida' name='unidad_medida' required)
            option(value='volumen') Volumen
            option(value='unidades') Unidades
            option(value='longitud') Longitud
        .errors-wrapper    
          span.show-errors(ng-messages="providerItemVm.itemForm.unidad_medida.$error" ng-if="providerItemVm.itemForm.unidad_medida.$touched")
            span(ng-message="required" class="message-error") {{::("globals.isRequired"|translate)}}
          show-error(array-messages='providerItemVm.messages.unidad_medida')

        label.item.item-input.item-stacked-label
          span.input-label {{::("item.volumen"|translate)}}
          input(
            type='text'
            ng-model='providerItemVm.item.volumen'
          )
        show-error(array-messages='providerItemVm.messages.volumen')

        label.item.item-input.item-stacked-label(
          ng-class="{'item-error': providerItemVm.itemForm.precio.$touched && providerItemVm.itemForm.precio.$invalid}"
        )
          span.input-label {{::("item.precio"|translate)}}
          input(
            min='0'
            name='precio'
            step='any'
            type='number'
            ng-model='providerItemVm.item.precio'
            required
          )
        .errors-wrapper
          span.show-errors(ng-messages="providerItemVm.itemForm.precio.$error" ng-if="providerItemVm.itemForm.precio.$touched")
            span.message-error(ng-message="required")
              | {{::("globals.isRequired"|translate)}}
          show-error(array-messages='providerItemVm.messages.precio')

        label.item.item-input.item-stacked-label
          span.input-label {{::("item.peso"|translate)}}
          input(
            type='text'
            ng-model='providerItemVm.item.peso'
          )
        show-error(array-messages='providerItemVm.messages.peso')

        label.item.item-input.item-input--no-borders.item-stacked-label
          span.input-label {{::("item.imagen"|translate)}}
        .uploader(
          ng-if="providerItemVm.images.length === 0"
          ngf-select="providerItemVm.concatImages($files)"
          accept="image/*"
          multiple
        )
          .img-placeholder
          .img-placeholder--legend {{::("item.addImages"|translate)}}

        .row.images-previews
          .img-wrapper.col-33(
            ng-repeat="image in providerItemVm.imagesUrls"
          )
            img(ngf-src="image")
          
          .img-wrapper.col-33(ng-if="providerItemVm.images.length > 0")
            .add-image-placeholder(
              ngf-select="providerItemVm.concatImages($files)"
              accept="image/*"
              multiple
            )
              i.ion-plus
        show-error(array-messages='providerItemVm.messages.imagen')

    .bar.bar-footer.bar-stable
      button.button.button-small.button-outline.button-energized(
        type="submit"
        ng-disabled="providerItemVm.itemForm.$invalid"
      ) {{::("item.publishItem"|translate)}}
