ion-view(
  view-title='{{::("actions.newProvider"|translate)}}'
)
  ion-nav-title
    .alt-logo
  ion-content.resource-form
    .row
      form(name="newProviderForm" ng-submit='providerVm.createProvider()', novalidate='')
        .list.list-inset
          legend {{::("provider.formLegendSecond"|translate)}}

          label.item.item-input.item-stacked-label
            span.input-label {{::("provider.bank.name"|translate)}}
            input(
              type='text',
              placeholder='',
              name='banco_nombre',
              ng-model='providerVm.providerForm.banco_nombre'
            )
          
          label.item.item-input.item-stacked-label
            span.input-label {{::("provider.bank.type"|translate)}}
            input(
              type='text',
              placeholder='',
              name='banco_tipo_cuenta',
              ng-model='providerVm.providerForm.banco_tipo_cuenta'
            )
          
          label.item.item-input.item-stacked-label
            span.input-label {{::("provider.bank.account"|translate)}}
            input(
              type='text',
              placeholder='',
              name='banco_numero_cuenta',
              ng-model='providerVm.providerForm.banco_numero_cuenta'
            )
          
          legend {{::("provider.formLegendThird"|translate)}}
          
          label.item.item-input.item-stacked-label(
            ng-class="{'item-error': newProviderForm.direccion_matriz.$touched && newProviderForm.direccion_matriz.$error.required}"
          )
            span.input-label {{::("provider.direction"|translate)}}*
            input(
              type='text',
              placeholder='',
              name='direccion_matriz',
              ng-model='providerVm.matrizProvider.direccion',
              required
            )
          show-error(ng-if="newProviderForm.direccion_matriz.$touched && newProviderForm.direccion_matriz.$error.required"
            array-messages='[("provider.isRequired"|translate)]')
          
          label.item.item-input.item-stacked-label(
            ng-class="{'item-error': newProviderForm.horario_matriz.$touched && newProviderForm.horario_matriz.$error.required}"
          )
            span.input-label {{::("provider.schedule"|translate)}}*
            input(
              type='text',
              placeholder='',
              name='horario_matriz',
              ng-model='providerVm.matrizProvider.horario',
              required
            )
          show-error(ng-if="newProviderForm.horario_matriz.$touched && newProviderForm.horario_matriz.$error.required"
            array-messages='[("provider.isRequired"|translate)]')
          
          label.item.item-input.item-stacked-label(
            ng-class="{'item-error': newProviderForm.telefono_matriz.$touched && newProviderForm.telefono_matriz.$error.required}"
          )
            span.input-label {{::("provider.phone"|translate)}}*
            input(
              type='tel',
              placeholder='',
              name='telefono_matriz',
              ng-model='providerVm.matrizProvider.telefono',
              required
            )
          show-error(ng-if="newProviderForm.telefono_matriz.$touched && newProviderForm.telefono_matriz.$error.required"
            array-messages='[("provider.isRequired"|translate)]')
        
        .bar.bar-footer.bar-stable
          button.button.button-outline.button-energized(
            type='submit'
            ng-disabled="newProviderForm.$invalid"
          )
            | Crear proveedor
