ion-modal-view.item-page
  ion-header-bar.bar-stable.bar.bar-header(
  align-title="center"
  )
    .ion-nav-buttons(side="left")
      button.button.ion-chevron-left.button-clear.left(
      ng-click="providerProfileVm.closeModal()"
      )
    .title.alt-logo
  ion-content.resource-form
    form(
    name="providerProfileVm.providerProfileForm"
    ng-submit="providerProfileVm.edit()"
    novalidate
    )
      .list.list-inset
        legend {{::("ACTUALIZAR DATOS DEL PROVEEDOR"|translate)}}

        label.item.item-input.item-stacked-label
          span.input-label {{::("RUC*"|translate)}}
          input(
          name="ruc"
          type="text"
          ng-model="providerProfileVm.profileProvider.ruc"
          )
        label.item.item-input.item-stacked-label
          span.input-label {{::("provider.businessName"|translate)}}
          input(
          name="razon_social"
          type="text"
          ng-model="providerProfileVm.profileProvider.razon_social"
          )

        label.item.item-input.item-stacked-label
          span.input-label {{::("provider.name"|translate)}}
          input(
          name="nombre_establecimiento"
          type="text"
          ng-model="providerProfileVm.profileProvider.nombre_establecimiento"
          )

        label.item.item-input.item-stacked-label
          span.input-label {{::("provider.economicActivity"|translate)}}
          input(
          name="actividad_economica"
          type="text"
          ng-model="providerProfileVm.profileProvider.actividad_economica"
          )
        label.item.item-input.item-stacked-label
          span.input-label {{::("provider.LegalRepresentative"|translate)}}
          input(
          name="representante_legal"
          type="text"
          ng-model="providerProfileVm.profileProvider.representante_legal"
          )

        label.item.item-input.item-stacked-label
          span.input-label {{::("provider.phone"|translate)}}
          input(
          name="telefono"
          type="text"
          ng-model="providerProfileVm.profileProvider.telefono"
          )

        label.item.item-input.item-stacked-label
          span.input-label {{::("provider.email"|translate)}}
          input(
          name="email"
          type="text"
          ng-model="providerProfileVm.profileProvider.email"
          )

        label.item.item-input.item-stacked-label
          span.input-label {{::("provider.webSite"|translate)}}
          input(
          name="website"
          type="text"
          ng-model="providerProfileVm.profileProvider.website"
          )


        label.item.item-input.item-stacked-label
          span.input-label {{::("provider.methodPayment"|translate|uppercase)}}*
          ion-list
            ion-checkbox(
            ng-repeat="method in providerProfileVm.methodsPayment",
            ng-model="method.checked"
            name="formas_pago"
            ng-checked="method.checked"
            ng-change="providerProfileVm.checked(method)"
            ) {{ ::method.label }}

        label.item.item-input.item-stacked-label
          span.input-label {{::("provider.bank.name"|translate)}}
          input(
          type="text"
          ng-model="providerProfileVm.profileProvider.banco_nombre"
          )

        label.item.item-input.item-stacked-label
          span.input-label {{::("provider.bank.account"|translate)}}
          input(
          type="text"
          ng-model="providerProfileVm.profileProvider.banco_numero_cuenta"
          )

        label.item.item-input.item-stacked-label
          span.input-label {{::("provider.bank.type"|translate)}}
          ion-list
             ion-checkbox(
              ng-repeat="type in providerProfileVm.accountType",
              ng-model="type.checked"
              name="bankType"
              ng-checked="type.checked"
              ng-change="providerProfileVm.checkedBank(type)"
              ) {{ ::type.label }}

        label.item.item-input.item-stacked-label
          span.input-label {{::("FACEBOOK"|translate)}}
          input(
          type="text"
          ng-model="providerProfileVm.profileProvider.facebook_handle"
          )


        label.item.item-input.item-stacked-label
          span.input-label {{::("TWITTER"|translate)}}
          input(
          type="text"
          ng-model="providerProfileVm.profileProvider.twitter_handle"
          )

        label.item.item-input.item-stacked-label
          span.input-label {{::("INSTAGRAM"|translate)}}
          input(
          type="text"
          ng-model="providerProfileVm.profileProvider.instagram_handle"
          )

        label.item.item-input.item-stacked-label
          span.input-label {{::("YOUTUBE"|translate)}}
          input(
          type="text"
          ng-model="providerProfileVm.profileProvider.youtube_handle"
          )

      .bar.bar-footer.footer-client-container
        button.button-secondary-yellow(
        type="submit"
        ) {{::("globals.save"|translate)}}

