ion-modal-view.item-page
  ion-header-bar.bar.bar-header.bar-light.bar-base-yellow(
    align-title="center"
  )
    h4(ng-hide="officesVm.office.id").title {{::("globals.new"|translate)}} {{::("office.office"|translate)}}
    h4(ng-show="officesVm.office.id").title {{::("globals.edit"|translate)}} {{::("office.office"|translate)}}
    .ion-nav-buttons(side="left")
      button.button.ion-chevron-left.button-clear.left(
        ng-click="officesVm.closeModal()"
      )
  ion-content.resource-form
    form(
      name='form'
      ng-submit='officesVm.submitModal()'
      novalidate
    )
      .list.list-inset
        legend {{::("office.officeLegend"|translate)}}

        label.item.item-input.item-stacked-label
          span.input-label {{::("office.ciudad"|translate|uppercase)}}
          input(
            type="text"
            ng-class="input-error"
            ng-model="officesVm.office.ciudad"
          )
        show-error(array-messages="officesVm.messages.ciudad")

        label.item.item-input.item-stacked-label
          span.input-label {{::("office.direccion"|translate|uppercase)}}
          input(
            type='text'
            ng-model='officesVm.office.direccion'
            ng-class="input-error"
          )
        show-error(array-messages="officesVm.messages.direccion")

        label.item.item-input.item-stacked-label
          span.input-label {{::("office.telefono"|translate|uppercase)}}
          input(
            type='text'
            ng-model='officesVm.office.telefono'
            ng-class="input-error"
          )
        show-error(array-messages='officesVm.messages.telefono')

        label.item.item-input.item-select
          span.input-label {{::("office.officeStart"|translate)}}
          select(ng-model='officesVm.office.inicio_de_labores')
            option(value="mon")
              | {{::("office.monday"|translate)}}
            option(value="tue")
              | {{::("office.tuesday"|translate)}}
            option(value="wed")
              | {{::("office.wednesday"|translate)}}
            option(value="thu")
              | {{::("office.thursday"|translate)}}
            option(value="fri")
              | {{::("office.friday"|translate)}}
            option(value="sat")
              | {{::("office.saturday"|translate)}}
            option(value="sun")
              | {{::("office.sunday"|translate)}}

        label.item.item-input.item-select
          span.input-label {{::("office.officeFinsh"|translate)}}
          select(ng-model='officesVm.office.final_de_labores')
            option(value="mon")
              | {{::("office.monday"|translate)}}
            option(value="tue")
              | {{::("office.tuesday"|translate)}}
            option(value="wed")
              | {{::("office.wednesday"|translate)}}
            option(value="thu")
              | {{::("office.thursday"|translate)}}
            option(value="fri")
              | {{::("office.friday"|translate)}}
            option(value="sat")
              | {{::("office.saturday"|translate)}}
            option(value="sun")
              | {{::("office.sunday"|translate)}}

        item.item-input
          span.input-label {{::("office.horaApertura"|translate|uppercase)}}
          ion-datetime-picker(time ng-model='officesVm.office.hora_de_apertura')
            | {{officesVm.office.hora_de_apertura| date: 'HH:mm a'}}
        show-error(array-messages='officesVm.messages.hora_de_apertura')

        item.item-input
          span.input-label {{::("office.horaCierre"|translate|uppercase)}}
          ion-datetime-picker(time ng-model='officesVm.office.hora_de_cierre')
            | {{officesVm.office.hora_de_cierre| date: 'HH:mm a'}}
        show-error(array-messages='officesVm.messages.hora_de_cierre')

      .bar.bar-footer.footer-item-container
        button.button-secondary-yellow(
          type="submit"
        ) {{::("globals.save"|translate)}}
